<h2>Где я?</h2>
<p>Вы на сайте рейтинга сайтов, которые выступают в поддержку русского <a href="http://rusnod.ru/top3.html" target="_blank">национально-освободительного движения</a>. В подтверждение, на каждом из этих сайтов отображается георгиевская лента, как символ НОД.</p>

<h2>Зачем мне регистрировать свой сайт?</h2>
<p>
  <ol>
    <li>больше сторонников НОД узнают о Вашем сайте</li>
    <li>здоровое соперничество и признание</li>
    <li>дать возможность узнать посетителям Вашего сайта о других сайтах НОД</li>
  </ol>
</p>

<h2>Как попасть в рейтинг?</h2>
<p>Для этого нужно <a href="http://nodtop.russianpulse.ru/sites/new">зарегистрировать</a> сайт и вставить html-код в шаблон своего сайта.</p>

<h2>Как подсчитывается рейтинг сайта?</h2>
<p>Рейтинг - это количество просмотров, которое набирает сайт за последние 7 суток, поделенное на 100. Чтобы никто не догадался.</p>

<h2>Что такое % НОД?</h2>
<p>Это доля сайта по просмотрам среди всех сайтов рейтинга НОД.</p>

<br />
<hr />
<br />

<!-- Put this script tag to the <head> of your page -->
<script type="text/javascript" src="//vk.com/js/api/openapi.js?110"></script>

<script type="text/javascript">
  VK.init({apiId: 4280553, onlyWidgets: true});
</script>

<!-- Put this div tag to the place, where the Comments block will be -->
<div id="vk_comments"></div>
<script type="text/javascript">
VK.Widgets.Comments("vk_comments", {limit: 10, width: "520", attach: "*"});
</script>
