<div class="jumbotron">
  <strong>О сайте</strong>
  <p>В этом каталоге собраны сайты, которые выступают в поддрежку русского <a href="http://rusnod.ru" target="_blank">национально-освободительного движения</a>. В подверждение, на каждом из этих сайтов отображается георгиевская лента, как символ НОД.</p>
</div>
