<strong>Добавить свой сайт</strong>

<% if @site.referral.blank? %>
  <p class="jumbotron">В данный момент регистрация в рейтинге производится только по пригласительным кодам.</p>
<% end %>


<%= render 'form' %>
